.rel{
padding: 15px 0px 0px 0px;
position: relative;
border: 1px solid black;
width: 280px;
height: 360px;
text-align: center;
}

.nama{
font-size: 150%;
}

.ab1 {
position: absolute;
top: 310px;
right: 20px;
width: 240px;
height: fit-content;
border: 1px solid orange;
margin: auto;
background-color: orange;
border-radius: 10px;
}

.ab2 {
padding: 5px 10px;
font-size: small;
position: absolute;
top: 20px;
left: 20px;
width: fit-content;
height: fit-content;
border: 1px solid green;
text-align: center;
background-color: green;
}