h1{
    color: orange;
}

p{
    color: #800080;
}

* {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
 
.ungu{
    color: #800080;
}

.biru{
    color: blue;
}

.hijau{
    color: green;
}

.kuning{
    color: yellow;
}

.table1 tr > th{
    padding: 5px;
    border: 1px solid black;
}

.level1 .level2 > p {
    color: darkred; font-size: larger;
}