body {
    font-family: 'Lucida Sans', sans-serif;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin: auto;
}

.product-card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.card-image-wrapper {
    position: relative;
}

.product-img {
    width: 100%;
    display: block; 
}

.badge-free-ongkir {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: yellowgreen;
    border: 2px solid green;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
}

.badge-free-ongkir span {
    color: green;
    font-size: 14px;
    font-weight: bold;
}

.card-content {
    padding: 20px;
    text-align: left;
}

.product-title {
    font-size: 22px;
    margin: 0 0 10px 0;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.product-price {
    color: orange;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.badge-halal {
    background-color: #85c1e9;
    color: #154360;
    border: 2px solid #2980b9;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.btn-order {
    width: 100%;
    padding: 10px;
    background-color: #ffeaa7;
    color: orange;
    border: 2px solid orange;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-order:hover {
    background-color: #ffd24c;
}

@media (max-width: 640px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); 
        padding: 10px;
    }
    
    .product-title {
        font-size: 18px;
    }
}